
h1{
    border-bottom: 2px solid #111;
    padding-bottom: 1rem;
}

#total_box {
    margin-top: 3rem;
}

#total_box h1{
    border-top: 2px solid #111;
    border-bottom:0;
    text-align:right;
    font-weight: 400;
}

#total_box h3 {
    margin-top: 1rem;
    text-align: right;
    font-weight: 400;
}

.product {
    box-shadow: #ccc 2px 2px 4px 1px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}
